body{
    background: black;
}
header{
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;
}
.logo{
    width: 50px;
}
.rede__social__logos{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.nomes{
    display: grid;
    justify-items:center ;
}
.titulo{
    color: white;
    font-size: 50px;
}
header p {
    margin-top: 10px;
    font-size: 30px;
    color: white;
}
.apresentacao{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.conteudo{
    display: grid;
    border: solid 15px white;
    border-radius: 20px;
    padding: 30px;
}
.conteudo__links{
    text-decoration: none;
    color: white;
    font-weight: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}